<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Dados:</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content [fullscreen]="true" color="">
    <div class="teste">

      <img src="https://www.irishnews.com/picturesarchive/irishnews/irishnews/2019/01/26/223026599-4bd0d8f9-b418-46c3-8cb3-94a1b9904dc9.jpg">
    </div>
  <ion-card>
   <ion-list>
    <ion-item >
      <h1>
        <ion-icon color="tertiary"  name="chatbubbles"></ion-icon>
        Nome:Matt LeBlanc
      </h1>
    </ion-item>

    <ion-item>
      <h1>
        <ion-icon color="tertiary" name="call"></ion-icon>
       Telefone: +55 14 654987123
      </h1>
    </ion-item>

      <ion-item>
        <h1>
          <ion-icon  color="tertiary" name="mail"></ion-icon>
          Email: matt@gmail.com.br
      </h1>
      </ion-item>

        <ion-item>
          <h1>
            <ion-icon color="tertiary" name="finger-print"></ion-icon>
          Id: 05
          </h1>
        </ion-item>
        </ion-list>


          <ion-button color="tertiary"  (click)="goToRoute('home')">
      Voltar
    </ion-button>
      </ion-card>




  </ion-content>

