<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contato1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="">

 <img src="https://media.vogue.fr/photos/636d234b7335ce4c9c0096ed/3:4/w_2589,h_3452,c_limit/1427974229" />


 <ion-list>
  <ion-item>
    <ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      Nome: Jennifer Aniston
    </ion-label>
  </ion-item>



    <ion-item>
      <h1>
        <ion-icon name="arrow-forward-outline"></ion-icon>
        Email: jennifer90@gmail.com.br
    </h1>
    </ion-item>



      <ion-item>
        <ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        ID: 01
        </ion-label>
      </ion-item>
      </ion-list>



</ion-content>
