<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">

    <ion-title>Dados:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="">
  <div class="teste">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj8odBtp_ig5dRCgjs-RrPXAetogvjbdqDxQ&usqp=CAU" />
  </div>
<ion-card>
 <ion-list>
  <ion-item  >
    <h1>
      <ion-icon color="tertiary"  name="chatbubbles"></ion-icon>
      Nome: Courteney Cox
    </h1>
  </ion-item>

  <ion-item>
    <h1>
      <ion-icon color="tertiary" name="call"></ion-icon>
     Telefone: +55 14 995423611
    </h1>
  </ion-item>

    <ion-item>
      <h1>
        <ion-icon  color="tertiary" name="mail"></ion-icon>
        Email: cox12@gmail.com.br
    </h1>
    </ion-item>

      <ion-item>
        <h1>
          <ion-icon color="tertiary" name="finger-print"></ion-icon>
        Id: 03
        </h1>
      </ion-item>
      </ion-list>


        <ion-button color="tertiary"  (click)="goToRoute('home')">
    Voltar
  </ion-button>
    </ion-card>




</ion-content>



